#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
  max-height: 1280px;
  min-height: 1280px;
  padding: 1rem;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navBarBox{
  background-color: rgb(42, 42, 33);
  font-size: 25px;
  height: auto;
}

.viewBox{
  background-color: azure;
  border-radius: 15px;
  border: 9px solid #8d9596;
  place-items: center;
}

.mainContent{
  height: 1000px;
}

.postTable{
  border-radius: 5px;
  border: 5px solid #1d416e;
  width: 95%;
  margin: auto;
  background-color: rgb(186, 220, 251);
}
/* .postTableView{
  place-items: center;
} */

.descriptionCell{
  width: 75%;
  text-align: left;
  font-weight: bold;
}

.priceCell{
  width: 10%;
  
  font-weight: bold;
}
.willDeliverCell{
  
  font-weight: bold;
}
.sendMessageBtn{
  text-align: center;
}
.signInForm{
  margin:auto;
  font-size: 20px;
  
}
#username{
  font-size: 20px;
}
#password{
  font-size: 20px;
}